/* cards style */
.card-container{
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}


/* change back ground on seconds */
.bg-change{
    color: #ffff;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: #0a2a4d;
}